Import necessary packages:

In [1]:
import pandas as pd
import numpy as np

#### We need to get stock from the S&P 500. This means that to pull that data we need to get the ticker symbols for the S&P 500.

Read in data for one stock from url.

In [64]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
symbols = pd.read_html(url)[0]['Symbol']

In [84]:
stockData = pd.DataFrame()
for i in symbols:
    ticker = i
    url2 = 'https://finance.yahoo.com/quote/' + ticker + '/history?p=' + ticker
    stocks = pd.read_html(url2)[0].head(10)
    stocks = stocks[[not i.lower().islower() for i in stocks.Open]]
    stocks['delta'] = stocks.Open.astype(float) - stocks['Close*'].astype(float)
    stocks['delta_bin'] = ['up' if change >= 0 else 'down' for change in stocks.delta]
    stocks = stocks[['Date', 'Open', 'Close*', 'delta', 'delta_bin']]
    stockData = pd.concat([stockData, stocks])

In [85]:
stockData

            Date    Open  Close*  delta delta_bin
0   Nov 20, 2020  171.50  172.38  -0.88      down
1   Nov 19, 2020  170.57  171.61  -1.04      down
3   Nov 18, 2020  174.50  171.40   3.10        up
4   Nov 17, 2020  173.04  173.64  -0.60      down
5   Nov 16, 2020  172.62  173.86  -1.24      down
..           ...     ...     ...    ...       ...
5   Nov 13, 2020  165.46  165.78  -0.32      down
6   Nov 12, 2020  164.16  165.19  -1.03      down
7   Nov 11, 2020  164.99  164.95   0.04        up
8   Nov 10, 2020  166.04  162.56   3.48        up
9   Nov 09, 2020  175.46  165.20  10.26        up

[4967 rows x 5 columns]

In [86]:
stockData.to_csv("stockData.csv", index=False)