In [15]:
import os
import tweepy as tw
import pandas as pd
# look at twarkk
# look at vader -- for social media data
#

In [16]:
# insert APIs here

In [17]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [34]:
# Define the search term and the date_since date as variables
search_words = 'Facebook'
date_since = '2020-09-01'

In [35]:
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)
[tweet.text for tweet in tweets]

['RT @allymayn: Fox News and Facebook did to our parents what they said video games would do to us.',
 'RT @allymayn: Fox News and Facebook did to our parents what they said video games would do to us.',
 '@HawleyMO @Facebook Addictive?  Gosh thatâ€™s gotta be top priority!  What a waste of a senator',
 'RT @suelozada: Happy Tuesday AM ? What are you responsible for at school? Top 3-students, parents, &amp; teams. TY to Kinder &amp; Mrs. Wendler forâ€¦',
 'RT @babyitsmb: Instragam: Gets stories\nTwitter: Gets stories\nFacebook: gets stories \nSnapchat : https://t.co/yaNBUQGjw9']

In [36]:
# remove re-tweets
new_search = search_words + " -filter:retweets"
tweets = tw.Cursor(api.search,
                       q=new_search,
                       lang="en",
                       since=date_since).items(5)

txt = [tweet.text for tweet in tweets]
txt

['And Facebook ðŸ˜­ðŸ˜­ https://t.co/UsPtiDl1s6',
 'this shit giving me Facebook vibes',
 'Crazy that WhatsApp is still the same and user friendly considering everything else Facebook owns is a shitty mess',
 'Ted Cruz Calls Out Senate Democrats During Twitter/Facebook Hearing https://t.co/RtTpTKUpRi',
 'Omg this is so funny \nhttps://t.co/tEWzVstvWZ']

In [37]:
# grab screen_name and location
tweets = tw.Cursor(api.search,
                       q=new_search,
                       lang="en",
                       since=date_since).items(5)

users_locs = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets]
users_locs

[['TahirahAKL', ''],
 ['_queenrichelle', 'Sunnyside'],
 ['MrBeego2u', 'Here and There'],
 ['samhibbs', ''],
 ['kaffi68', 'Yorkshire']]

In [38]:
#create a pandas df from a list of tweet data
tweet_info = pd.DataFrame(data=users_locs,
                         columns=['user', 'location'])
tweet_text = pd.DataFrame(data=txt,
                         columns=['txt'])

In [39]:
tweet_text

                                                 txt
0            And Facebook ðŸ˜­ðŸ˜­ https://t.co/UsPtiDl1s6
1                 this shit giving me Facebook vibes
2  Crazy that WhatsApp is still the same and user...
3  Ted Cruz Calls Out Senate Democrats During Twi...
4     Omg this is so funny \nhttps://t.co/tEWzVstvWZ

In [33]:
tweet_info

              user               location
0      rondovision            Houston, TX
1     SENabilities
2  Its_BreezyBabyy  On Neptune probably âœ¨
3  MochaAlmondFudg
4         3MCMilli  Somwhere in Akron, OH

In [79]:
# you could count the number of retweets on a tweet and have that as a predictor variable
# i wonder if I could pull the number of followers from the person who tweeted it

# look up twitter api documentation
# I could also grab new sources tweets